@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #BA0000;
}

body {
  background: url(/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.active {
  padding-left: 30rem;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5rem;
  padding: 1.2rem 3rem;
  border: 0.2rem solid #444;
  cursor: pointer;
  background: none;
  color: #444;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.btn:hover {
  border-color: #BA0000;
  background-color: #BA0000;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: -31rem;
  height: 100%;
  width: 30rem;
  background: #BA0000;
  padding: 2rem;
  z-index: 1000;
}

.header.active {
  left: 0;
}

.header .logo {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
}

.header .navbar {
  padding: 30% 0;
}

.header .navbar a {
  display: block;
  margin: 2rem 0;
  font-size: 2rem;
  color: #fff;
}

.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: .7rem;
}

.header .share {
  text-align: center;
}

.header .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #444;
  background: #fff;
  margin: 0 .3rem;
}

.header .share a:hover {
  background: #444;
  color: #fff;
}

.header .credit {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 3rem;
  line-height: 1.5;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: #444;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.heading span {
  color: #BA0000;
}

#menu-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background: #BA0000;
  color: #fff;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1100;
  text-align: center;
}

#menu-btn.fa-times {
  top: 1rem;
  left: 25rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.banner .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.banner .content span {
  font-size: 2.5rem;
  color: #BA0000;
}

.banner .content h3 {
  font-size: 4rem;
  color: #444;
  text-transform: capitalize;
  padding-top: 1rem;
}

.banner .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.banner .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.banner .image img {
  width: 100%;
}

.products .slide {
  text-align: center;
}

.products .slide img {
  height: 25rem;
  margin: 5rem 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.products .slide h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #444;
  text-transform: capitalize;
  opacity: 0;
}

.products .slide .btn {
  opacity: 0;
}

.products .swiper-slide-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products .swiper-slide-active h3, .products .swiper-slide-active .btn {
  opacity: 1;
}

@media (max-width: 1200px) {
  body.active {
    padding-left: 0;
  }
  header.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .banner .content h3 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */